.item-collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-lg) 0 16px;
  width: 100%;
  position: relative;
}

.item-collection .div-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: var(--spacing-sm) 0;
}

.item-collection .otros-productos-del-wrapper {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: var(--gap-xs);
  width: auto;
}

.item-collection .otros-productos-del {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: var(--font-size-lg);
  color: #000;
}

.item-collection .div-3 {
  display: flex;
  align-items: center;
  gap: var(--gap-xs);
}

.item-collection .text-wrapper-5 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: var(--font-size-sm);
  color: #000;
}

.item-collection .arrow-right {
  width: 24px;
  height: 24px;
}

.item-collection .div-4 {
  display: flex;
  justify-content: space-between;
  gap: var(--gap-sm);
  width: 100%;
  padding: var(--spacing-sm) 0;
}

.item-collection .item-instance {
  position: relative;
}
