.item-collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0 16px;
  width: 100%;
  position: relative;
}

.item-collection .div-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 16px 0;
}

.item-collection .otros-productos-del-wrapper {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 8px;
  width: auto;
}

.item-collection .otros-productos-del {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 32px;
  color: #000;
}

.item-collection .div-3 {
  display: flex;
  align-items: center;
  gap: 8px;
}

.item-collection .text-wrapper-5 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #000;
}

.item-collection .arrow-right {
  width: 24px;
  height: 24px;
}

.item-collection .div-4 {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
  padding: 16px 0;
}

.item-collection .item-instance {
  position: relative;
}
