.login-container {
  height: calc(100vh - 80px);
  background-color: var(--color-bg-white);
}

.login-card {
  background-color: #faecc5;
  padding: var(--space-8);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-md);
  width: 380px;
}

.logo-wrapper {
  margin-bottom: var(--space-2);
}

.login-logo {
  width: 36px;
  height: 36px;
}

.logo-text-strong {
  font-family: var(--font-bold);
  font-size: 1.5rem;
  color: var(--color-text);
  font-weight: 700;
}

.login-title {
  font-family: var(--font-semibold);
  font-size: var(--text-lg);
  color: var(--color-text);
  margin-bottom: var(--space-2);
}

.login-text {
  font-family: var(--font-regular);
  font-size: var(--text-sm);
  color: var(--color-text-muted);
  line-height: 1.4;
  text-align: center;
  margin-bottom: var(--space-4);
}

.label {
  text-align: left;
  font-family: var(--font-medium);
  font-size: var(--text-sm);
  color: var(--color-text);
}

.reset-link {
  text-align: right;
  font-family: var(--font-regular);
  font-size: var(--text-sm);
  color: var(--color-text);
  text-decoration: none;
  margin-top: -0.3rem;
}

.reset-link:hover {
  text-decoration: underline;
}

.btn-login {
  background-color: var(--color-primary);
  color: var(--color-bg-white);
  border: none;
  padding: var(--space-3);
  border-radius: var(--radius-sm);
  font-family: var(--font-medium);
  font-size: var(--text-sm);
  cursor: pointer;
  transition: var(--transition);
  margin-top: var(--space-2);
}

.btn-login:hover {
  background-color: #333;
}

.login-bottom-text {
  margin-top: var(--space-4);
  font-family: var(--font-regular);
  font-size: var(--text-sm);
  color: var(--color-text-muted); /* más tenue */
}

.register-link {
  font-family: var(--font-medium);
  color: var(--color-text); /* más oscuro */
  text-decoration: none;
  margin-left: 0.25rem;
}

.register-link:hover {
  text-decoration: underline;
}
