.reset-container {
  height: calc(100vh - 80px);
  background-color: var(--color-bg-white);
}

.reset-card {
  background-color: #faecc5;
  padding: var(--space-8);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-md);
  width: 380px;
}

.logo-wrapper {
  margin-bottom: var(--space-2);
}

.reset-logo {
  width: 36px;
  height: 36px;
}

.logo-text-strong {
  font-family: var(--font-bold);
  font-size: 1.5rem; /* más grande */
  color: var(--color-text);
  font-weight: 700;
}

.reset-title {
  font-family: var(--font-semibold);
  font-size: var(--text-lg);
  color: var(--color-text);
  margin-bottom: var(--space-2);
}

.reset-text {
  font-family: var(--font-regular);
  font-size: var(--text-sm);
  color: var(--color-text-muted);
  line-height: 1.4;
  text-align: center;
  margin-bottom: var(--space-4);
}

.label {
  text-align: left;
  font-family: var(--font-medium);
  font-size: var(--text-sm);
  color: var(--color-text);
}

.btn-reset {
  background-color: var(--color-primary);
  color: var(--color-bg-white);
  border: none;
  padding: var(--space-3);
  border-radius: var(--radius-sm);
  font-family: var(--font-medium);
  font-size: var(--text-sm);
  cursor: pointer;
  transition: var(--transition);
  margin-top: var(--space-2);
}

.btn-reset:hover {
  background-color: #333;
}

.reset-back {
  font-family: var(--font-regular);
  font-size: var(--text-sm);
  color: var(--color-text);
  margin-top: var(--space-4);
  text-decoration: none;
}

.reset-back:hover {
  text-decoration: underline;
}
