.item {
  align-items: flex-start;
  background-color: #ffffff;
  border: 1px solid #e3e3e3;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
  padding: 16px;
  position: relative;
  width: 256px;
}

.item .rectangle {
  align-self: stretch;
  aspect-ratio: 1;
  background-color: #d9d9d9;
  border-radius: 16px;
  position: relative;
  width: 100%;
}

.item .frame {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.item .div {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 147px;
}

.item .text-wrapper {
  align-items: center;
  color: #000;
  display: flex;
  font-family: "Inter-Light", Helvetica;
  font-size: 16px;
  font-weight: 300;
  justify-content: center;
  letter-spacing: -0.32px;
  line-height: 23.2px;
  margin-top: -1px;
  white-space: nowrap;
  width: fit-content;
}

.item .text-wrapper-2 {
  align-items: center;
  color: #000;
  display: flex;
  font-family: "Inter-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  justify-content: center;
  letter-spacing: -0.48px;
  line-height: 34.8px;
  white-space: nowrap;
  width: fit-content;
}

.item .text-wrapper-3 {
  align-items: center;
  color: #000000bf;
  display: flex;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  justify-content: center;
  letter-spacing: -0.4px;
  line-height: 29px;
  white-space: nowrap;
  width: fit-content;
}

.item .frame-2 {
  align-items: center;
  align-self: stretch;
  background-color: var(--main);
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  position: relative;
  width: 100%;
}

.item .shopping-cart {
  aspect-ratio: 1 !important;
  height: 20px !important;
  width: 20px !important;
  position: relative !important;
}

.item .text-wrapper-4 {
  align-items: center;
  color: #000;
  display: flex;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  justify-content: center;
  letter-spacing: -0.4px;
  line-height: 29px;
  margin-top: -1px;
  white-space: nowrap;
  width: fit-content;
}
