.item {
  align-items: flex-start;
  background-color: var(--color-background-white);
  border: 1px solid #e3e3e3;
  border-radius: var(--border-radius-md);
  gap: var(--gap-sm);
  overflow: hidden;
  padding: var(--spacing-sm);
  position: relative;
  min-width: 200px;
  width: 250px;
  flex-grow: 1;
  flex-basis: 220px;
}

.item .imagen-item {
  align-self: stretch;
  aspect-ratio: 1;
  background-color: var(--color-background-light);
  border-radius: var(--border-radius-md);
  position: relative;
  width: 97%;
}

.item-content {
  align-items: flex-start;
  align-self: stretch;
  gap: 10px;
  position: relative;
  width: 100%;
}

.item-info {
  align-items: flex-start;
  position: relative;
  width: 147px;
}

.item-info .text-wrapper {
  color: #000;
  font-family: "Inter-Light", Helvetica;
  font-size: var(--font-size-xs);
  font-weight: 300;
  letter-spacing: var(--letter-spacing-xs);
  line-height: var(--line-height-xs);
  margin-top: -1px;
  white-space: nowrap;
  width: fit-content;
}

.item-info .text-wrapper-2 {
  align-items: center;
  color: #000;
  display: flex;
  font-family: var(--font-family-bold);
  font-size: var(--font-size-md);
  font-weight: 700;
  justify-content: center;
  letter-spacing: var(--letter-spacing-md);
  line-height: var(--line-height-md);
  white-space: nowrap;
  width: fit-content;
}

.item-info .text-wrapper-3 {
  align-items: center;
  color: var(--color-text-primary)bf;
  display: flex;
  font-family: var(--font-family-regular);
  font-size: var(--font-size-sm);
  font-weight: 400;
  justify-content: center;
  letter-spacing: -0.4px;
  line-height: var(--line-height-sm);
  white-space: nowrap;
  width: fit-content;
}

.add-to-cart-button {
  align-items: center;
  align-self: stretch;
  background-color: var(--main);
  border-radius: var(--border-radius-sm);
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  position: relative;
  width: 100%;
}

.add-to-cart-button .shopping-cart {
  aspect-ratio: 1 !important;
  height: 20px !important;
  width: 20px !important;
  position: relative !important;
}

.add-to-cart-button .text-wrapper-4 {
  align-items: center;
  color: #000;
  display: flex;
  font-family: var(--font-family-regular);
  font-size: var(--font-size-sm);
  font-weight: 400;
  justify-content: center;
  letter-spacing: -0.4px;
  line-height: var(--line-height-sm);
  margin-top: -1px;
  white-space: nowrap;
  width: fit-content;
}
