.contenido {
  align-items: flex-start;
  gap: 10px;
  padding: var(--spacing-xxl) 0;
  position: relative;
}

.contenido .search-results-container {
  align-items: flex-end;
  flex: 1;
  flex-grow: 1;
  height: 2389px;
  justify-content: flex-end;
  position: relative;
}

.contenido .bottom-pagination-wrapper {
  display: inline-flex;
  gap: var(--gap-lg);
  height: 46px;
  justify-content: flex-end;
  position: relative;
}

.contenido .paginacion-wrapper {
  align-items: center;
  align-self: stretch;
  display: inline-flex;
  flex: 0 0 auto;
  gap: var(--gap-md);
  justify-content: flex-end;
  position: relative;
}

.contenido .frame-8 {
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
}

.container-titulo {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.container-titulo .titulo {
  align-items: center;
  color: var(--color-text-primary);
  display: flex;
  font-family: var(--font-family-semibold);
  font-size: var(--font-size-lg);
  font-weight: 600;
  justify-content: center;
  letter-spacing: var(--letter-spacing-lg);
  line-height: var(--line-height-lg);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.container-titulo .container-paginacion {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: var(--gap-md);
  justify-content: flex-end;
  position: relative;
}

.container-titulo .input-instance {
  left: unset !important;
  top: unset !important;
}

.container-titulo .navbar {
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
}

.container-resultados {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 100px;
  width: 100%;
  padding: var(--spacing-lg) 0;
  position: relative;
  flex-wrap: nowrap;

}
