.category-collection {
  padding: var(--padding-component-vertical);
  position: relative;
}

.category-collection .categories-header {
  align-self: stretch;
  height: 68px;
  padding: var(--padding-component-vertical);
  position: relative;
  width: 100%;
}

.category-collection .title-wrapper {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 0px 0px;
  height: 46px;
  margin-bottom: -5px;
  margin-top: -5px;
  position: relative;
  width: 168px;
}

.category-collection .text-wrapper {
  color: var(--color-text-primary);
  font-family: var(--font-family-semibold);
  font-size: var(--font-size-lg);
  font-weight: 600;
  letter-spacing: var(--letter-spacing-lg);
  line-height: var(--line-height-lg);
  margin-top: -1px;
  position: relative;
  width: 165px;
}

.category-collection .view-all-link {
  position: relative;
  width: 130px;
}

.category-collection .text-wrapper-2 {
  align-items: center;
  color: var(--color-text-primary);
  display: flex;
  font-family: var(--font-family-medium);
  font-size: var(--font-size-sm);
  font-weight: 500;
  height: 35px;
  justify-content: center;
  letter-spacing: -0.4px;
  line-height: var(--line-height-sm);
  margin-top: -1px;
  position: relative;
  width: 95px;
}

.category-collection .arrow-right {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.category-collection .categories-grid {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  height: 160px;
  justify-content: space-between;
  padding: var(--spacing-sm) 0px;
  position: relative;
  width: 100%;
}

.category-collection .category-item {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  height: 128px;
  justify-content: center;
  position: relative;
}

.category-collection .ellipse {
  aspect-ratio: 1;
  background-color: var(--color-background-light);
  border-radius: 43px;
  height: 86px;
  position: relative;
  width: 86px;
}

.category-collection .text-wrapper-3 {
  align-items: center;
  color: var(--color-text-primary);
  display: flex;
  font-family: var(--font-family-medium);
  font-size: var(--font-size-xs);
  font-weight: 500;
  justify-content: center;
  letter-spacing: var(--letter-spacing-xs);
  line-height: var(--line-height-xs);
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}
