.checkout-item {
  align-items: flex-start;
  border: var(--border-md);
  border-radius: var(--border-radius-md);
  gap: var(--gap-sm);
  overflow: hidden;
  padding: var(--spacing-sm);
  position: relative;
  width: 864px;
}

.checkout-item .rectangle {
  aspect-ratio: 1;
  background-color: var(--color-background-light);
  border-radius: var(--border-radius-md);
  height: 144px;
  position: relative;
  width: 144px;
}

.checkout-item .item-content {
  align-items: flex-start;
  align-self: stretch;
  flex: 1;
  flex-grow: 1;
  justify-content: space-between;
  position: relative;
}

.checkout-item .item-header {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.checkout-item .item-title-price {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.checkout-item .text-wrapper {
  align-items: center;
  color: var(--color-text-primary);
  display: flex;
  font-family: var(--font-family-bold);
  font-size: var(--font-size-md);
  font-weight: 700;
  justify-content: center;
  letter-spacing: var(--letter-spacing-md);
  line-height: var(--line-height-md);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.checkout-item .text-wrapper-2 {
  align-items: center;
  color: var(--color-text-primary);
  display: flex;
  font-family: var(--font-family-medium);
  font-size: var(--font-size-sm);
  font-weight: 500;
  justify-content: center;
  letter-spacing: var(--letter-spacing-sm);
  line-height: var(--line-height-sm);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.checkout-item .x {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.checkout-item .div-4 {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.checkout-item .div-5 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.checkout-item .text-wrapper-3 {
  align-items: center;
  color: var(--color-text-primary);
  display: flex;
  font-family: var(--font-family-medium);
  font-size: var(--font-size-sm);
  font-weight: 500;
  justify-content: center;
  letter-spacing: var(--letter-spacing-sm);
  line-height: var(--line-height-sm);
  margin-top: -1px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.checkout-item .div-6 {
  align-items: center;
  border-radius: 24px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: var(--gap-xs);
  justify-content: center;
  position: relative;
}

.checkout-item .minus-instance {
  aspect-ratio: 1 !important;
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}

.checkout-item .div-wrapper {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  padding: 0 12px;
  position: relative;
}

.checkout-item .text-wrapper-4 {
  align-items: center;
  color: var(--color-text-primary);
  display: flex;
  font-family: var(--font-family-semibold);
  font-size: var(--font-size-md);
  font-weight: 600;
  justify-content: center;
  letter-spacing: var(--letter-spacing-md);
  line-height: var(--line-height-md);
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.checkout-item .plus-instance {
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}

.checkout-item .div-7 {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.checkout-item .text-wrapper-5 {
  align-items: center;
  color: var(--color-text-primary);
  display: flex;
  font-family: var(--font-family-semibold);
  font-size: var(--font-size-md);
  font-weight: 600;
  justify-content: center;
  letter-spacing: var(--letter-spacing-md);
  line-height: var(--line-height-md);
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}
