.checkout-screen {
  gap: 10px;
  height: 800px;
  padding: var(--spacing-xxl) 0;
  position: relative;
}

.checkout-screen .checkout-container {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  gap: var(--gap-sm);
  position: relative;
  width: 100%;
}

.titulo {
  position: relative;
}

.titulo .text-wrapper {
  color: var(--color-text-primary);
  font-family: var(--font-family-semibold);
  font-size: var(--font-size-lg);
  font-weight: 600;
  letter-spacing: var(--letter-spacing-lg);
  line-height: var(--line-height-lg);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.titulo .back-button-container {
  display: inline-flex;
  flex: 0 0 auto;
  gap: var(--gap-xs);
  position: relative;
}

.titulo .arrow-left {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.titulo .back-button-text {
  color: var(--color-text-primary);
  font-family: var(--font-family-medium);
  font-size: var(--font-size-sm);
  font-weight: 500;
  letter-spacing: var(--letter-spacing-sm);
  line-height: var(--line-height-sm);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.checkout-contenido {
  align-items: flex-start;
  gap: var(--gap-lg);
  position: relative;
}


.info-pedido {
  align-items: flex-start;
  background-color: var(--main);
  border-radius: var(--border-radius-md);
  gap: var(--gap-sm);
  overflow: hidden;
  padding: var(--spacing-lg);
  position: relative;
  width: 512px;
}

.info-pedido .detalle-pedido {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  gap: var(--gap-sm);
  position: relative;
  width: 100%;
}

.info-pedido .direccion-entrega-row,
.info-pedido .articulos-count-row,
.info-pedido .total-row {
  align-self: stretch;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.info-pedido .text-wrapper {
  align-items: center;
  color: var(--color-text-primary);
  display: flex;
  font-family: var(--font-family-semibold);
  font-size: var(--font-size-sm);
  font-weight: 600;
  justify-content: center;
  letter-spacing: var(--letter-spacing-sm);
  line-height: var(--line-height-sm);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.info-pedido .direccion-entrega-info {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.info-pedido .text-wrapper-2 {
  align-items: center;
  color: var(--color-text-primary);
  display: flex;
  font-family: var(--font-family-medium);
  font-size: var(--font-size-sm);
  font-weight: 500;
  justify-content: center;
  letter-spacing: var(--letter-spacing-sm);
  line-height: var(--line-height-sm);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.info-pedido .edit {
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}

.info-pedido .text-wrapper-3 {
  align-items: center;
  color: var(--color-text-primary);
  display: flex;
  font-family: var(--font-family-semibold);
  font-size: var(--font-size-md);
  font-weight: 600;
  justify-content: center;
  letter-spacing: var(--letter-spacing-md);
  line-height: var(--line-height-md);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.info-pedido .boton {
  align-items: center;
  align-self: stretch;
  background-color: var(--color-text-primary);
  border-radius: var(--border-radius-md);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  padding: var(--spacing-sm) 0px;
  position: relative;
  width: 100%;
}

.info-pedido .text-wrapper-4 {
  align-items: center;
  color: var(--color-background-white);
  display: flex;
  font-family: var(--font-family-semibold);
  font-size: var(--font-size-md);
  font-weight: 600;
  justify-content: center;
  letter-spacing: var(--letter-spacing-md);
  line-height: var(--line-height-md);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}