.frame-screen {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 800px;
  padding: 64px 256px;
  position: relative;
}

.frame-screen .frame-15 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 100%;
}

.titulo {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.titulo .text-wrapper {
  align-items: center;
  color: #000000;
  display: flex;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 32px;
  font-weight: 600;
  justify-content: center;
  letter-spacing: -0.64px;
  line-height: 46.4px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.titulo .frame {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.titulo .arrow-left {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.titulo .div {
  align-items: center;
  color: #000000;
  display: flex;
  font-family: "Inter-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  justify-content: center;
  letter-spacing: -0.40px;
  line-height: 29.0px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.checkout-contenido {
  align-items: flex-start;
  display: flex;
  gap: 32px;
  position: relative;
}


.info-pedido {
  align-items: flex-start;
  background-color: var(--main);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
  padding: 32px;
  position: relative;
  width: 512px;
}

.info-pedido .detalle-pedido {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 100%;
}

.info-pedido .frame {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.info-pedido .text-wrapper {
  align-items: center;
  color: #000000;
  display: flex;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  justify-content: center;
  letter-spacing: -0.40px;
  line-height: 29.0px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.info-pedido .div {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.info-pedido .text-wrapper-2 {
  align-items: center;
  color: #000000;
  display: flex;
  font-family: "Inter-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  justify-content: center;
  letter-spacing: -0.40px;
  line-height: 29.0px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.info-pedido .edit {
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}

.info-pedido .text-wrapper-3 {
  align-items: center;
  color: #000000;
  display: flex;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: 600;
  justify-content: center;
  letter-spacing: -0.48px;
  line-height: 34.8px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.info-pedido .boton {
  align-items: center;
  align-self: stretch;
  background-color: #000000;
  border-radius: 16px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  padding: 16px 0px;
  position: relative;
  width: 100%;
}

.info-pedido .text-wrapper-4 {
  align-items: center;
  color: #ffffff;
  display: flex;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: 600;
  justify-content: center;
  letter-spacing: -0.48px;
  line-height: 34.8px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}