.footer {
  background-color: var(--color-background-white);
  border-color: var(--color-text-primary)1a;
  border-top-style: solid;
  border-top-width: 1px;
  height: 160px;
  padding: var(--spacing-xl) 0;
  position: relative;
  width: 100%;
}

.footer .text {
  display: inline-flex;
  flex: 0 0 auto;
  align-items: center;
  gap: var(--gap-lg);
  position: relative;
}

.footer .container .text .nav .nav-link a{
  text-decoration: none;
  color: inherit;
}

.footer .text-wrapper {
  align-items: center;
  color: var(--color-text-primary);
  display: flex;
  font-family: var(--font-family-semibold), sans-serif;
  font-size: var(--font-size-sm);
  font-weight: 600;
  justify-content: center;
  letter-spacing: -0.4px;
  line-height: var(--line-height-sm);
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.footer .nav {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: var(--gap-lg);
  position: relative;
}

.footer .div {
  align-items: center;
  color: var(--color-text-primary)8c;
  display: flex;
  font-family: var(--font-family-medium), sans-serif;
  font-size: var(--font-size-xs);
  font-weight: 500;
  justify-content: center;
  letter-spacing: -0.08px;
  line-height: var(--line-height-xs);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.footer .social-links {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: var(--gap-md);
  position: relative;
}

.footer .social-link {
  /* background-image: url("./vector.svg"); */
  background-position: 50% 50%;
  background-size: cover;
  height: 24px;
  position: relative;
  width: 24px;
}

.footer .size-24 {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.footer .social-link-2 {
  aspect-ratio: 1;
  height: 24px;
  position: relative;
  width: 24px;
}

.footer .vector {
  height: 90.4%;
  left: 0;
  position: absolute;
  top: 4.8%;
  width: 100%;
}
