.footer {
  align-items: center;
  background-color: #ffffff;
  border-color: #0000001a;
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  height: 160px;
  justify-content: space-between;
  padding: 64px;
  position: relative;
  width: 100%;
}

.footer .text {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 32px;
  justify-content: center;
  position: relative;
}

.footer .company {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.footer .image {
  aspect-ratio: 1;
  /* background-image: url("./image.png"); */
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 8px;
  height: 32px;
  position: relative;
  width: 32px;
}

.footer .text-wrapper {
  align-items: center;
  color: #000000;
  display: flex;
  font-family: "Inter-SemiBold", Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
  justify-content: center;
  letter-spacing: -0.4px;
  line-height: 29px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.footer .nav {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 32px;
  position: relative;
}

.footer .div {
  align-items: center;
  color: #0000008c;
  display: flex;
  font-family: "Inter-Medium", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  justify-content: center;
  letter-spacing: -0.08px;
  line-height: 23.2px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.footer .social-links {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 24px;
  position: relative;
}

.footer .social-link {
  /* background-image: url("./vector.svg"); */
  background-position: 50% 50%;
  background-size: cover;
  height: 24px;
  position: relative;
  width: 24px;
}

.footer .size-24 {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.footer .social-link-2 {
  aspect-ratio: 1;
  height: 24px;
  position: relative;
  width: 24px;
}

.footer .vector {
  height: 90.4%;
  left: 0;
  position: absolute;
  top: 4.8%;
  width: 100%;
}
