.contenido {
    gap: 10px;
    padding: var(--spacing-xxl) 0;
    position: relative;
}

.user-profile-section {
  align-items: flex-start;
  background-color: var(--main);
  border-radius: var(--border-radius-md);
  gap: var(--gap-lg);
  overflow: hidden;
  padding: var(--spacing-xxl) var(--spacing-lg);
  position: relative;
}

.user-profile-section .user-wrapper {
  background-color: var(--color-background-white);
  border-radius: var(--border-radius-lg);
  gap: 10px;
  height: 200px;
  padding: var(--spacing-md);
  position: relative;
  width: 200px;
}

.user-profile-section .user-instance {
  aspect-ratio: 1 !important;
  height: 128px !important;
  position: relative !important;
  width: 128px !important;
}

.user-profile-section .user-info {
  align-items: flex-start;
  align-self: stretch;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.user-profile-section .text-wrapper {
  align-items: center;
  color: var(--color-text-primary);
  display: flex;
  font-family: var(--font-family-bold);
  font-size: var(--font-size-xl);
  font-weight: 700;
  justify-content: center;
  letter-spacing: var(--letter-spacing-xl);
  line-height: var(--line-height-xl);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.user-profile-section .text-wrapper-2 {
  align-items: center;
  color: var(--color-text-primary);
  display: flex;
  font-family: var(--font-family-medium);
  font-size: var(--font-size-lg);
  font-weight: 500;
  justify-content: center;
  letter-spacing: var(--letter-spacing-lg);
  line-height: var(--line-height-lg);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.historial-screen {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
  position: relative;
}

.pedidos-list-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
  position: relative;
  width: 100%;
}

.container-titulo {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.container-titulo .titulo {
  align-items: center;
  color: var(--color-text-primary);
  display: flex;
  font-family: var(--font-family-semibold);
  font-size: var(--font-size-lg);
  font-weight: 600;
  justify-content: center;
  letter-spacing: var(--letter-spacing-lg);
  line-height: var(--line-height-lg);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.container-titulo .container-paginacion {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: var(--gap-md);
  justify-content: flex-end;
  position: relative;
}

.container-titulo .input-instance {
  left: unset !important;
  top: unset !important;
}

.container-titulo .navbar {
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
}
