.contenido {
    gap: 10px;
    padding: var(--space-16) 0;
    position: relative;
}

.user-profile-section {
  align-items: flex-start;
  background-color: var(--main);
  border-radius: var(--radius-md);
  gap: var(--space-8);
  overflow: hidden;
  padding: var(--space-16) var(--space-8);
  position: relative;
}

.user-profile-section .user-wrapper {
  background-color: var(--color-bg-white);
  border-radius: var(--radius-full);
  gap: 10px;
  height: 200px;
  padding: var(--space-6);
  position: relative;
  width: 200px;
}

.user-profile-section .user-instance {
  aspect-ratio: 1 !important;
  height: 128px !important;
  position: relative !important;
  width: 128px !important;
}

.user-profile-section .user-info {
  align-items: flex-start;
  align-self: stretch;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.user-profile-section .text-wrapper {
  align-items: center;
  color: var(--color-text);
  display: flex;
  font-family: var(--font-bold);
  font-size: var(--text-2xl);
  font-weight: 700;
  justify-content: center;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.user-profile-section .text-wrapper-2 {
  align-items: center;
  color: var(--color-text);
  display: flex;
  font-family: var(--font-medium);
  font-size: var(--text-xl);
  font-weight: 500;
  justify-content: center;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.historial-screen {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  position: relative;
}

.pedidos-list-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  position: relative;
  width: 100%;
}

.container-titulo {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.container-titulo .titulo {
  align-items: center;
  color: var(--color-text);
  display: flex;
  font-family: var(--font-semibold);
  font-size: var(--text-xl);
  font-weight: 600;
  justify-content: center;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.container-titulo .container-paginacion {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: var(--space-6);
  justify-content: flex-end;
  position: relative;
}

.container-titulo .input-instance {
  left: unset !important;
  top: unset !important;
}

.container-titulo .navbar {
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
}
