.contenido {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 64px 256px;
    position: relative;
}

.frame {
  align-items: flex-start;
  background-color: var(--main);
  border-radius: 16px;
  display: flex;
  gap: 32px;
  overflow: hidden;
  padding: 64px 32px;
  position: relative;
}

.frame .user-wrapper {
  align-items: center;
  background-color: #ffffff;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 200px;
  justify-content: space-around;
  padding: 20px;
  position: relative;
  width: 200px;
}

.frame .user-instance {
  aspect-ratio: 1 !important;
  height: 128px !important;
  position: relative !important;
  width: 128px !important;
}

.frame .div {
  align-items: flex-start;
  align-self: stretch;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.frame .text-wrapper {
  align-items: center;
  color: #000000;
  display: flex;
  font-family: "Inter-Bold", Helvetica;
  font-size: 48px;
  font-weight: 700;
  justify-content: center;
  letter-spacing: -0.96px;
  line-height: 69.6px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.frame .text-wrapper-2 {
  align-items: center;
  color: #000000;
  display: flex;
  font-family: "Inter-Medium", Helvetica;
  font-size: 32px;
  font-weight: 500;
  justify-content: center;
  letter-spacing: -0.64px;
  line-height: 46.4px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.container-titulo {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.container-titulo .titulo {
  align-items: center;
  color: #000000;
  display: flex;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 32px;
  font-weight: 600;
  justify-content: center;
  letter-spacing: -0.64px;
  line-height: 46.4px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.container-titulo .container-paginacion {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 24px;
  justify-content: flex-end;
  position: relative;
}

.container-titulo .input-instance {
  left: unset !important;
  top: unset !important;
}

.container-titulo .navbar {
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
}
