.frame {
  align-items: flex-start;
  border: 1px solid;
  border-color: #00000073;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
  padding: 32px;
  position: relative;
  top: 10px;
}

.frame .div {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.frame .div-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.frame .text-wrapper {
  align-items: center;
  color: #000000;
  display: flex;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: 600;
  justify-content: center;
  letter-spacing: -0.48px;
  line-height: 34.8px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.frame .p {
  align-items: center;
  color: #000000;
  display: flex;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  justify-content: center;
  letter-spacing: -0.40px;
  line-height: 29.0px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.frame .div-wrapper {
  align-items: center;
  background-color: var(--color-background-warning-secondary);
  border-radius: 24px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 8px 16px;
  position: relative;
}

.frame .text-wrapper-2 {
  align-items: center;
  color: var(--color-text-warning-on-warning-secondary);
  display: flex;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  justify-content: center;
  letter-spacing: -0.40px;
  line-height: 29.0px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.frame .frame-wrapper {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  padding: 16px 0px;
  position: relative;
  width: 100%;
}

.frame .div-3 {
  align-items: center;
  align-self: stretch;
  border: 1px solid;
  border-color: #00000073;
  border-radius: 16px;
  display: flex;
  flex: 0 0 auto;
  gap: 16px;
  overflow: hidden;
  padding: 16px;
  position: relative;
  width: 100%;
}

.frame .rectangle {
  aspect-ratio: 1;
  background-color: #d9d9d9;
  border-radius: 16px;
  height: 100px;
  position: relative;
  width: 100px;
}

.frame .div-4 {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  justify-content: space-between;
  position: relative;
}

.frame .text-wrapper-3 {
  align-items: center;
  color: #000000;
  display: flex;
  font-family: "Inter-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  justify-content: center;
  letter-spacing: -0.48px;
  line-height: 34.8px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.frame .text-wrapper-4 {
  align-items: center;
  color: #000000;
  display: flex;
  font-family: "Inter-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  justify-content: center;
  letter-spacing: -0.40px;
  line-height: 29.0px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.frame .div-5 {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.frame .text-wrapper-5 {
  align-items: center;
  color: #000000;
  display: flex;
  font-family: "Inter-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  justify-content: center;
  letter-spacing: -0.40px;
  line-height: 29.0px;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  width: 180px;
}

.frame .text-wrapper-6 {
  align-items: center;
  color: #000000;
  display: flex;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  justify-content: center;
  letter-spacing: -0.40px;
  line-height: 29.0px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.frame .div-6 {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.frame .text-wrapper-7 {
  align-items: center;
  color: #000000;
  display: flex;
  font-family: "Inter-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  justify-content: center;
  letter-spacing: -0.40px;
  line-height: 29.0px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.frame .text-wrapper-8 {
  align-items: center;
  color: #000000;
  display: flex;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  justify-content: center;
  letter-spacing: -0.40px;
  line-height: 29.0px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.frame .div-7 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.frame .div-wrapper-2 {
  align-items: center;
  background-color: var(--main);
  border-radius: 16px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 24px;
  padding: 16px;
  position: relative;
}

.frame .div-wrapper-3 {
  align-items: center;
  background-color: var(--danger);
  border-radius: 16px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 24px;
  padding: 16px;
  position: relative;
}