.resultados {
  align-items: flex-start;
  display: flex;
  flex-wrap:wrap;
  gap: 20px;
  position: relative;
  width: 100%;
  flex-grow: 0;
  align-items: stretch;
}

.resultados .item-instance {
  left: unset !important;
  top: unset !important;
}

.resultados .shopping-cart-instance {
  aspect-ratio: 1 !important;
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}
