.resultados {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 32px 32px;
  position: relative;
}

.resultados .item-instance {
  left: unset !important;
  top: unset !important;
}

.resultados .shopping-cart-instance {
  aspect-ratio: 1 !important;
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}
