.resultados {
  align-items: flex-start;
  display: grid;
  flex-wrap: wrap;
  gap: 20px;
  position: relative;
  width: 100%;
  flex-grow: 1;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));}

.resultados .item-instance {
  left: unset !important;
  top: unset !important;
}

.resultados .shopping-cart-instance {
  aspect-ratio: 1 !important;
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}
