.filtros {
  align-items: flex-start;
  background-color: var(--main);
  border-radius: var(--border-radius-md);
  gap: 10px;
  overflow: hidden;
  padding: var(--spacing-lg);
  position: relative;
  width: 464px;
}

.filtros .container-titulo {
  align-self: stretch;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
  width: 100%;
}

.filtros .titulo {
  align-self: stretch;
  color: var(--color-text-primary);
  font-family: var(--font-family-semibold);
  font-size: var(--font-size-lg);
  font-weight: 600;
  letter-spacing: var(--letter-spacing-lg);
  line-height: var(--line-height-lg);
  margin-top: -1px;
  position: relative;
}

.filtros .container-inputs {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: var(--gap-lg);
  padding: var(--spacing-sm) 0;
  position: relative;
  width: 100%;
}

.filtros .div-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.filtros .text-wrapper-2 {
  align-items: center;
  color: var(--color-text-primary);
  display: flex;
  font-family: var(--font-family-regular);
  font-size: var(--font-size-sm);
  font-weight: 400;
  justify-content: center;
  letter-spacing: var(--letter-spacing-sm);
  line-height: var(--line-height-sm);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.filtros .input-instance {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
  width: 100% !important;
}

.filtros .text-wrapper-3 {
  align-items: center;
  color: var(--color-text-primary);
  display: flex;
  font-family: var(--font-family-regular);
  font-size: var(--font-size-sm);
  font-weight: 400;
  justify-content: center;
  letter-spacing: var(--letter-spacing-sm);
  line-height: var(--line-height-sm);
  margin-top: -1px;
  position: relative;
  width: 107px;
}

.filtros .frame-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
  width: 100%;
}

.filtros .design-component-instance-node {
  align-self: stretch !important;
  flex: 1 !important;
  flex-grow: 1 !important;
  left: unset !important;
  top: unset !important;
  width: unset !important;
}
