.filtros {
  align-items: flex-start;
  background-color: var(--main);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  padding: 32px;
  position: relative;
  width: 464px;
}

.filtros .container-titulo {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.filtros .titulo {
  align-items: center;
  align-self: stretch;
  color: #000000;
  display: flex;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 32px;
  font-weight: 600;
  justify-content: center;
  letter-spacing: -0.64px;
  line-height: 46.4px;
  margin-top: -1px;
  position: relative;
}

.filtros .container-inputs {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32px;
  padding: 16px 0;
  position: relative;
  width: 100%;
}

.filtros .div-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.filtros .text-wrapper-2 {
  align-items: center;
  color: #000000;
  display: flex;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  justify-content: center;
  letter-spacing: -0.40px;
  line-height: 29px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.filtros .input-instance {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
  width: 100% !important;
}

.filtros .text-wrapper-3 {
  align-items: center;
  color: #000000;
  display: flex;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  justify-content: center;
  letter-spacing: -0.40px;
  line-height: 29px;
  margin-top: -1px;
  position: relative;
  width: 107px;
}

.filtros .frame-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
  width: 100%;
}

.filtros .design-component-instance-node {
  align-self: stretch !important;
  flex: 1 !important;
  flex-grow: 1 !important;
  left: unset !important;
  top: unset !important;
  width: unset !important;
}
