.header {
  background-color: var(--main);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--color-border-subtle);
  left: -1px;
  padding: var(--spacing-md) 0;
  position: relative;
  width: 100%;
}

.header .company {
  gap: var(--gap-xs);
  position: relative;
  width: 172px;
}

.header .logo {
  aspect-ratio: 1;
  height: 40px;
  object-fit: cover;
  position: relative;
  width: 40px;
}

.header .text-wrapper {
  color: var(--color-text-primary);
  flex: 1;
  font-family: var(--font-family-semibold);
  font-size: var(--font-size-md);
  font-weight: 600;
  letter-spacing: var(--letter-spacing-md);
  line-height: var(--line-height-md);
  position: relative;
}

.header .navigation-menu {
  align-self: stretch;
  flex: 1;
  flex-grow: 1;
  gap: var(--gap-xl);
  padding: 0 var(--spacing-lg);
  position: relative;
}

.header .nav-item {
  color: var(--color-text-primary);
  font-family: var(--font-family-regular);
  font-size: var(--font-size-sm);
  font-weight: 400;
  letter-spacing: var(--letter-spacing-sm);
  line-height: var(--line-height-sm);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.header .search-bar {
  align-self: stretch;
  background-color: var(--color-background-white);
  border: var(--border-md);
  border-radius: var(--border-radius-sm);
  overflow: hidden;
  padding: 0px 16px;
  position: relative;
  width: 300px;
}

.header .text-wrapper-2 {
  color: var(--color-text-primary)73;
  font-family: var(--font-family-medium);
  font-size: var(--font-size-xs);
  font-weight: 500;
  letter-spacing: -0.08px;
  line-height: var(--line-height-xs);
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.header .icon-instance-node {
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}

.header .buttons {
  display: inline-flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: var(--gap-md) 24px;
  justify-content: flex-end;
  padding: 0px 0px 0px 32px;
  position: relative;
}

.header .frame-3 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 13px;
  position: relative;
}

.header .text-wrapper-3 {
  color: var(--color-text-primary);
  font-family: var(--font-family-medium);
  font-size: var(--font-size-xs);
  font-weight: 500;
  letter-spacing: -0.08px;
  line-height: var(--line-height-xs);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.header .size-24 {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.header .primary-button {
  display: inline-flex;
  flex: 0 0 auto;
  gap: var(--gap-xs);
  position: relative;
}

.header .shopping-cart {
  aspect-ratio: 1 !important;
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.header .contador-de-items {
  color: var(--color-text-primary);
  font-family: var(--font-family-medium);
  font-size: var(--font-size-xs);
  font-weight: 500;
  letter-spacing: -0.08px;
  line-height: var(--line-height-xs);
  margin-top: -0.50px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}
