.header {
  align-items: center;
  background-color: var(--main);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #0000001a;
  display: flex;
  justify-content: space-between;
  left: -1px;
  padding: 24px 64px;
  position: relative;
  width: 100%;
}

.header .company {
  align-items: center;
  display: flex;
  gap: 8px;
  position: relative;
  width: 172px;
}

.header .logo {
  aspect-ratio: 1;
  height: 40px;
  object-fit: cover;
  position: relative;
  width: 40px;
}

.header .text-wrapper {
  align-items: center;
  color: #000000;
  display: flex;
  flex: 1;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: 600;
  justify-content: center;
  letter-spacing: -0.48px;
  line-height: 34.8px;
  position: relative;
}

.header .frame {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 48px;
  padding: 0px 64px;
  position: relative;
}

.header .div {
  align-items: center;
  color: #000000;
  display: flex;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  justify-content: center;
  letter-spacing: -0.40px;
  line-height: 29.0px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.header .frame-2 {
  align-items: center;
  align-self: stretch;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #00000073;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: 0px 16px;
  position: relative;
  width: 300px;
}

.header .text-wrapper-2 {
  align-items: center;
  color: #00000073;
  display: flex;
  font-family: "Inter-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  justify-content: center;
  letter-spacing: -0.08px;
  line-height: 23.2px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.header .icon-instance-node {
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}

.header .buttons {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 24px 24px;
  justify-content: flex-end;
  padding: 0px 0px 0px 32px;
  position: relative;
}

.header .frame-3 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 13px;
  position: relative;
}

.header .text-wrapper-3 {
  align-items: center;
  color: #000000;
  display: flex;
  font-family: "Inter-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  justify-content: center;
  letter-spacing: -0.08px;
  line-height: 23.2px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.header .size-24 {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.header .primary-button {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  justify-content: center;
  position: relative;
}

.header .shopping-cart {
  aspect-ratio: 1 !important;
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.header .contador-de-items {
  align-items: center;
  color: #000000;
  display: flex;
  font-family: "Inter-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  justify-content: center;
  letter-spacing: -0.08px;
  line-height: 23.2px;
  margin-top: -0.50px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}
