.item-detail {
  align-items: flex-start;
  gap: var(--gap-lg);
  position: relative;
}

.item-detail .img {
  align-self: stretch;
  position: relative;
  width: 564px;
}

.item-detail .div {
  align-items: flex-start;
  align-self: stretch;
  flex: 1;
  flex-grow: 1;
  justify-content: space-between;
  padding: 0 0 0 var(--spacing-lg);
  position: relative;
}

.item-detail .div-2 {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  gap: var(--gap-sm);
  position: relative;
  width: 100%;
}

.item-detail .text-wrapper {
  color: var(--color-text-primary);
  font-family: var(--font-family-regular);
  font-size: var(--font-size-sm);
  font-weight: 400;
  letter-spacing: var(--letter-spacing-sm);
  line-height: var(--line-height-sm);
  margin-top: -1px;
  position: relative;
  width: 189px;
}

.item-detail .text-wrapper-2 {
  align-items: center;
  color: var(--color-text-primary);
  display: flex;
  font-family: "Inter-ExtraBold", Helvetica;
  font-size: 40px;
  font-weight: 800;
  justify-content: center;
  letter-spacing: -0.80px;
  line-height: 58px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.item-detail .text-wrapper-3 {
  color: var(--color-text-primary);
  font-family: var(--font-family-regular);
  font-size: 40px;
  font-weight: 400;
  letter-spacing: -0.80px;
  line-height: 58px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.item-detail .descripcion {
  align-self: stretch;
  color: var(--color-text-primary)99;
  font-family: var(--font-family-medium);
  font-size: var(--font-size-sm);
  font-weight: 500;
  letter-spacing: var(--letter-spacing-sm);
  line-height: var(--line-height-sm);
  position: relative;
}

.item-detail .div-3 {
  align-items: flex-end;
  align-self: stretch;
  flex: 0 0 auto;
  gap: var(--gap-sm);
  justify-content: flex-end;
  position: relative;
  width: 100%;
}

.item-detail .div-4 {
  border: 2px solid var(--color-border-primary);
  border-radius: var(--border-radius-md);
  display: inline-flex;
  flex: 0 0 auto;
  gap: var(--gap-md);
  margin-bottom: -1px;
  margin-top: -1px;
  padding: var(--spacing-sm);
  position: relative;
}

.item-detail .text-wrapper-4 {
  align-items: center;
  color: var(--color-text-primary);
  display: flex;
  font-family: var(--font-family-medium);
  font-size: var(--font-size-sm);
  font-weight: 500;
  justify-content: center;
  letter-spacing: var(--letter-spacing-sm);
  line-height: var(--line-height-sm);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.item-detail .chevron-down {
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}

.item-detail .div-wrapper {
  align-items: center;
  background-color: var(--color-text-primary);
  border-radius: var(--border-radius-md);
  display: inline-flex;
  flex: 0 0 auto;
  gap: var(--gap-md);
  padding: var(--spacing-sm);
  position: relative;
}

.item-detail .text-wrapper-5 {
  align-items: center;
  color: var(--color-background-white);
  display: flex;
  font-family: var(--font-family-medium);
  font-size: var(--font-size-sm);
  font-weight: 500;
  justify-content: center;
  letter-spacing: var(--letter-spacing-sm);
  line-height: var(--line-height-sm);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.item-detail .div-5 {
  align-items: center;
  background-color: var(--main);
  border-radius: var(--border-radius-md);
  display: inline-flex;
  flex: 0 0 auto;
  gap: var(--gap-md);
  padding: var(--spacing-sm);
  position: relative;
}

.item-detail .shopping-cart {
  aspect-ratio: 1 !important;
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}
