.company-logo-link {
  text-decoration: none;
  color: inherit;
  display: flex;
}

.company-logo-group {
  display: flex;
  align-items: center;
  gap: 5px;
}

.company-name-text {
  color: var(--color-text-primary);
  font-family: var(--font-family-semibold);
  font-size: var(--font-size-md);
  font-weight: 600;
  letter-spacing: var(--letter-spacing-md);
  line-height: var(--line-height-md);
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
}

.logo {
  aspect-ratio: 1;
  height: 40px;
  object-fit: cover;
  position: relative;
  width: 40px;
  display: flex;
}

.company-logo-group img {
  height: 40px;
  width: 40px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .company-name-text {
    display: none;
  }

  .company-logo-group {
    gap: 0;
  }

  .company-logo-group img {
    height: 32px;
    width: 32px;
  }
}
