.contenido {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 64px 256px;
  position: relative;
}

.contenido .frame-13 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.contenido .frame-14 {
  align-items: flex-end;
  background-color: #d9d9d9;
  border-radius: 16px;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  height: 459px;
  justify-content: space-around;
  padding: 64px 128px;
  position: relative;
}

.contenido .frame-15 {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #00000073;
  border-radius: 12px;
  display: flex;
  flex: 1;
  flex-grow: 1;
  height: 64px;
  justify-content: space-between;
  overflow: hidden;
  padding: 16px;
  position: relative;
}

.contenido .text-wrapper-9 {
  align-items: center;
  color: #00000073;
  display: flex;
  font-family: "Inter-Medium", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  justify-content: center;
  letter-spacing: -0.08px;
  line-height: 23.2px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.contenido .search {
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}
