.contenido {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  padding: var(--padding-page-main);
  position: relative;
}

.contenido .search-section {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.contenido .search-bar-container {
  align-items: flex-end;
  background-color: var(--color-bg-light);
  border-radius: var(--radius-md);
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  height: 459px;
  justify-content: space-around;
  padding: var(--space-16) 0;
  position: relative;
}

.contenido .search-input-wrapper {
  align-items: center;
  background-color: var(--color-bg-white);
  border: 1px solid;
  border-color: var(--color-text)73;
  border-radius: var(--radius-sm);
  display: flex;
  flex: 1;
  flex-grow: 1;
  height: 64px;
  justify-content: space-between;
  overflow: hidden;
  padding: var(--space-4);
  position: relative;
}

.contenido .text-wrapper-9 {
  align-items: center;
  color: var(--color-text)73;
  display: flex;
  font-family: var(--font-medium), sans-serif;
  font-size: var(--text-xs);
  font-weight: 500;
  justify-content: center;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.contenido .search {
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}
