.paginacion {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap; 
  justify-content: center;
  transform: translateX(400px);
}

.paginacion .icon-instance-node {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.current-page,
.page-number,
.page-ellipsis {
  flex-shrink: 0; /* evita que se aplasten o desaparezcan */
}

.paginacion .current-page {
  background-color: var(--color-primary);
  border-radius: 24px;
  gap: 10px;
  height: 35px;
  position: relative;
  width: 35px;
}

.paginacion .text-wrapper {
  align-items: center;
  align-self: stretch;
  color: var(--color-background-white);
  display: flex;
  font-family: var(--font-family-regular);
  font-size: var(--font-size-sm);
  font-weight: 400;
  justify-content: center;
  letter-spacing: var(--letter-spacing-sm);
  line-height: var(--line-height-sm);
  position: relative;
  text-align: center;
}

.paginacion .page-number,
.paginacion .page-ellipsis {
  align-items: center;
  color: var(--color-text-primary);
  display: flex;
  font-family: var(--font-family-regular);
  font-size: var(--font-size-sm);
  font-weight: 400;
  justify-content: center;
  letter-spacing: var(--letter-spacing-sm);
  line-height: var(--line-height-sm);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
