.paginacion {
  display: inline-flex;
  gap: var(--space-8);
  left: 903px;
  position: relative;
  top: 6px;
}

.paginacion .icon-instance-node {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.paginacion .current-page {
  background-color: var(--color-primary);
  border-radius: 24px;
  gap: 10px;
  height: 35px;
  position: relative;
  width: 35px;
}

.paginacion .text-wrapper {
  align-items: center;
  align-self: stretch;
  color: var(--color-bg-white);
  display: flex;
  font-family: var(--font-regular);
  font-size: var(--text-base);
  font-weight: 400;
  justify-content: center;
  position: relative;
  text-align: center;
}

.paginacion .page-number,
.paginacion .page-ellipsis {
  align-items: center;
  color: var(--color-text);
  display: flex;
  font-family: var(--font-regular);
  font-size: var(--text-base);
  font-weight: 400;
  justify-content: center;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
