.paginacion {
  align-items: center;
  display: inline-flex;
  gap: 32px;
  justify-content: center;
  left: 903px;
  position: relative;
  top: 6px;
}

.paginacion .icon-instance-node {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.paginacion .frame {
  align-items: center;
  background-color: #000000;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 35px;
  justify-content: space-around;
  position: relative;
  width: 35px;
}

.paginacion .text-wrapper {
  align-items: center;
  align-self: stretch;
  color: #ffffff;
  display: flex;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  justify-content: center;
  letter-spacing: -0.40px;
  line-height: 29.0px;
  position: relative;
  text-align: center;
}

.paginacion .div {
  align-items: center;
  color: #000000;
  display: flex;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  justify-content: center;
  letter-spacing: -0.40px;
  line-height: 29.0px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
